.left {
    text-align: left;
}

.anos-trabalho {
    color: #ff2c2d;
}

li {
    list-style: none;
}

li:before {
    content: "✓";
}

.titulo-h2x {
    font-size: 3em !important;
}

.titulo-ishikawa {
    margin-top: -37vh !important;
}

.titulo-firebase {
    color: #e67e22;
    font-weight: bold;
}

.titulo-react {
    color: #61dafb;
    font-weight: bold;
}

.titulo-case {
    color: #2c3e50 !important;
    text-align: left;
}

.img-case-negocio {
    border: none !important;
    box-shadow: none !important;
    max-height: 62% !important;
    max-width: 62% !important;
}

.logo-unaerp {
    margin: 0 auto !important;
    margin-top: 2em !important;
    display: block;
}

.img-ishikawa{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    max-width: 100vw !important;
    margin-left: -110px !important;
}
/*#1b91ff -> #3498db*/